<html>
    <head>
        <title>Discord Bot Client</title>
    </head>
    <body>
        <form action="http://localhost:8080/" method="POST" autocomplete="off">
            Message: <input type="text" name="msg"><br>
            Channel: <input type="text" name="chnl"><br>
            <button type="submit">Send to server</button>
        </form>
    </body>
</html>